@font-face {
  font-family: 'ZenKurenaido';
  src: url('../../../fonts/ZenKurenaido-Regular.ttf') format('truetype')
}

.questionCard {
  margin: 1px;
  padding: 10px;
  width: 600px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.questionCard h4 {
  font-family: 'ZenKurenaido';
  white-space: nowrap;
}

.questionWord {
  color: rgb(216, 0, 0);
}
